body {
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(fone.jpg);
	font-family: sans-serif;
	background-size: cover;
	background-attachment: fixed;
}

h1 {
	color: #30f25a;
	text-align: center;
	margin-top: 10px;
	font-size: 45px;
}

h2 {
	color: #30f25a;
	text-align: center;
	margin-top: 330px;
	font-size: 45px;
}

p1 {
	font-family: Brush Script MT, Brush Script Std, cursive;
    color: #ffbfbf;
	font-size: 25px;
	display: block;
	margin: 0 auto;
	width: 80%;
}
